.videosrc{
    top: 10px;
    left: 0;
    border: 0;
    margin: 10px;
    margin-left: 15%;
    justify-content: center;
}


.info{
    
    color: black;
    margin: 20px;
    text-align: center;
    margin-left: 5%;
    justify-content: center;
}